@font-face {
    font-family: 'CSMS';
    src: url(resources/fonts/CS_MS.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

img {
    width: 55px;
    border-radius: 10px;
    float: left;
    margin-right: 10px;
}

h1 {
    font-weight: bold;
    font-size: xx-large;
    font-family: 'CSMS', cursive;
}

.title {
    font-size: medium;
    font-family: 'CSMS', cursive;
}

.subtitle {
    font-size: x-small;
    margin-top: -15px;
    font-style: italic;
    font-family: 'CSMS', cursive;
}

.bold {
    font-style: bold;
}